extends ../layout
block content
    #fmeditarhoraextra(data-role="page")
      div(data-role="header", data-position="fixed")
        h1 Editar 
        a(href="/consultahoraextra", data-icon="back" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all ui-btn-b" data-role="button" role="button") Voltar      
      div(role="main", data-role="container")
        div(class="ui-corner-all custom-corners")      
          div(class="ui-body ui-body-a")
            form#fmeditar(action="/editar/#{hora.id}", method="POST")
                if messages.erro
                  div(class="alert alert-danger")
                    p #{messages.erro}
                  br
                if messages.info
                  div(class="alert alert-success")
                    p #{messages.info}
                  br
                div(class="form-group")
                    label Email:
                    input(type="email", name="e-mail", data-clear-btn="false", disabled="disabled", class="form-control", value="#{hora.email}")
                    input(type="hidden", name="email", value="#{hora.email}")
                div(class="form-group")
                    label Solicitação:
                    input(type="text", data-clear-btn="true", name="solicitacao", placeholder="ML-00001", value="#{hora.solicitacao}", required="required")
                div(class="form-group")
                    label Data do início:
                    input#datainicial(type="text", data-clear-btn="true", name="datainicial", value="#{moment(hora.datainicial).format('L')}", required="required")                 
                div(class="form-group")
                    label Hora do início:
                    input(type="time", data-clear-btn="true", name="horainicial", value="#{hora.horainicial}", required="required")
                div(class="form-group")
                    label Data de final:
                    input#datafinal(type="text" data-clear-btn="true", name="datafinal", value="#{moment(hora.datafinal).format('L')}", required="required")
                div(class="form-group")
                    label Hora de final:
                    input(type="time", data-clear-btn="true", name="horafinal", value="#{hora.horafinal}", required="required")
                button(type="submit" class="btn btn-primary") Salvar
                               
      div(data-role="footer", data-position="fixed")
        h3 &copy; 2016 Samuel Carneiro
