extends ../layout
block content
  #principal(data-role="page")
    div(data-role="header", data-position="fixed")
        h1 Consulta Hora Extra
        a(href="#nav-panel" data-icon="bars" data-iconpos="notext" data-theme="b") Filtros        
        a(href="/home" data-icon="back" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all ui-btn-b" data-role="button" role="button") Voltar      
    div(role="main", data-role="container")
        if messages.erro
          div(class="alert alert-danger")
            p #{messages.erro}
          br
        if messages.info
          div(class="alert alert-success")
            p #{messages.info}
          br              
        div(class="ui-body ui-body-a")            
          if listhoras.length > 0      
            table#listahoraextra(data-role="table" data-mode="reflow" class=" table-stroke ui-responsive")             
              thead(class="ui-bar-d")                         
                tr                      
                  th(data-priority="1") Solicitação
                  th(data-priority="2") Data Inicial
                  th(data-priority="3") Hora Inicial
                  th(data-priority="4") Data Final
                  th(data-priority="5") Hora Final
                  th(data-priority="6") Qtd. Jornada
                  th(data-priority="7")
              tbody                
                each hora in listhoras
                  tr                      
                    th #{hora.solicitacao}
                    td #{moment(hora.datainicial).format('DD/MM/YYYY')}          
                    td #{hora.horainicial}           
                    td #{moment(hora.datafinal).format('DD/MM/YYYY')}
                    td #{hora.horafinal}                          
                    td #{hora.quantidadejornada} hs 
                    td 
                      a(href="/edithoraextra/#{hora._id}" class="ui-btn ui-btn-inline") Editar
                      a(href="javascript: Excluir('#{hora._id}');" class="ui-btn ui-btn-inline") Excluir
          else
            p Nenhuma hora extra adicionada!
                      
                                                                
    div(data-role="footer", data-position="fixed")
      h3 &copy; 2016 Samuel Carneiro
      
    div(data-role="panel" data-position-fixed="true" data-display="push" data-theme="a" id="nav-panel")
      div(data-role="controlgroup" data-mini="true")        
        form(action="/listahoraextra" method="GET")
          div(class="form-group")
            label Email:
            input(type="email", name="e-mail", data-clear-btn="false", disabled="disabled", class="form-control", value="#{dev.email}")
            input(type="hidden", name="email", value="#{dev.email}")        
          div(class="form-group")
              label Solicitação:
              input(type="text", data-clear-btn="true", name="solicitacao",  placeholder="ML-00001")
          div(class="form-group")
              label Data do início:
              input(type="date", data-clear-btn="true", name="datainicial")                 
          div(class="form-group")
              label Data de final:
              input(type="date", data-clear-btn="true", name="datafinal")
          button(type="submit" class="btn btn-primary") Consultar
            
block scripts
  script(type="text/javascript").
    function Excluir(id){
      var pergunta = confirm('Deseja realmente excluir?');
      if(pergunta){
        $.ajax({
          url: '/horaextraatual/delete/'+id,
          dataType: 'json',
          type: 'POST',
          statusCode: {
          	200: function(data){
          		console.log(data);
          		window.location.reload();
          	},
          	400: function(data){
              console.log(data);
          	}
          }
      	});
      }
    };
