extends ../layout
block content
  #principal(data-role="page")
    div(data-role="header", data-position="fixed")
        h1 Hora Extra
        a(href="#nav-panel" data-icon="bars" data-iconpos="notext" data-theme="b") Menu
        a(href="/logout" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-power ui-btn-b") #{dev.nome}
    div(data-role="main" class="ui-content")
        if messages.erro
          div(class="alert alert-danger")
            p #{messages.erro}
          br
        if messages.info
          div(class="alert alert-success")
            p #{messages.info}
          br      
        div(class="ui-grid-a ui-responsive")          
          div(class="ui-block-a")        
              div(class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-10")
                div(class="tile-stats")            
                  div(class="x_title") Total semanal                 
                  div(class="count") #{totais.TotalSemanal}                  
              div(class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-10")    
                div(class="x_panel tile")                  
                  div(class="x_title") Gráfico de hora semanal
                  div(class="ct-chart ct-golden-section", id="chartsemanal")
          div(class="ui-block-b")        
              div(class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-10")
                div(class="tile-stats")            
                  div(class="x_title") Total Anual                 
                  div(class="count") #{totais.TotalAnual}                  
              div(class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-10")   
                div(class="x_panel tile")                              
                  div(class="x_title") Gráfico de hora anual
                  div(class="ct-chart ct-golden-section", id="chartanual")  
                                                                         
                        
    div(data-role="footer", data-position="fixed")
      h3 &copy; 2016 Samuel Carneiro
    div(data-role="panel" data-position-fixed="true" data-display="push" data-theme="a" id="nav-panel")
      ul(data-role="listview")
        li
          a(href="#" data-rel="close") Fechar menu
        li 
          a(href="/addhoraextra") Adicionar
        li 
          a(href="/consultahoraextra") Consultar
block scripts
  script(src="js/graficos.js")   
  script.
    $.ajax({
      url: '/graficos',
      cache: false,      
      dataType: 'json',
      type: 'GET',
      data: JSON.stringify(data),
      statusCode: {
        200: function(dados){
          chartanual.update(dados.graficoanual);          
          chartsemanal.update(dados.graficosemanal);
        }
      }
    }); 
    
    
